@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .inner-div {
    box-shadow: 0px 0px 0px 0px #808080b5, inset 0px 0px 20px 0px #80808042, 4px 4px 11px #808080b5, inset 2px 4px 6px #80808042;
    backdrop-filter: brightness(1);
    background: #00000000;
} */