@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.output::-webkit-scrollbar {
  width: 1px;
}

.output::-webkit-scrollbar-track {
  background-color: black;
}

.output::-webkit-scrollbar-thumb {
  background-color: #FFC107;
}